.icono{
    height: 75px;
}
.link{
    color: antiquewhite !important;
    margin-left: 25px !important;
    font-size: 25px !important;
}

#basic-nav-dropdown{
    color: antiquewhite;
}
.contenedorCarrito{
    display: flex;
    justify-content: center;
    width: fit-content;
    }
.parrafoCarrito{
    color: antiquewhite;
    padding-top: 15px;
}
.imgCarrito{
    width: 45px;

}
.parrafoGreetings{
    font-size:25px ;
}
